.timers {
  text-align: center;
  .int {
    text-align: right;
  }
  .dec {
    text-align: left;
    color: @gray-light;
  }
  .desc {
    text-align: left;
    color: @gray-light;
    font-size: .4em;
  }
  h1 {
    font-size: 4em;
    margin-bottom: 32px;
  }
  h2 {
    margin-bottom: 32px;
  }
  .table {
    font-size: 2em;
  }

  // .years {
  //   font-size: 3em;
  // }
  // .months {
  //   font-size: 2.8em;
  // }
  // .weeks {
  //   font-size: 2.5em;
  // }
  // .days {
  //   font-size: 2.3em;
  // }
  // .hours {
  //   font-size: 1.9em;
  // }
  // .minutes {
  //   font-size: 1.7em;
  // }
  // .seconds {
  //   font-size: 1.5em;
  // }
  // .milliseconds {
  //   font-size: 1.2em;
  // }
}
