<section id="edit">
  <div class="page-header text-center">
    <h1><span class="fa fa-clock-o"></span> {{config.CONFIG_DB.brand_name}}</h1>
    <p class="lead">
      {{config.CONFIG_DB.brand_name}} is a URL based counter.
    </p>
    <p class="lead">
      It is good for launch dates, milestones, birthdays, anniversaries, you name it..
    </p>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <div class="row">
        <div class="col-sm-4 form-group">
          <label for="date">Date</label>
          <input id="date" type="date" class="form-control" value="{{'' if date == None else date}}" placeholder="YYYY-MM-DD" maxlength="10" autocomplete="off" autofocus>
        </div>
        <div class="col-sm-2 form-group">
          <label for="time">Time</label>
          <input id="time" type="string" class="form-control" value="{{'' if time == None else time}}" placeholder="hh:mm" maxlength="5" autocomplete="off">
        </div>
        <div class="col-sm-6 form-group">
          <label for="title">Title</label>
          <input id="title" type="text" class="form-control" value="{{title or ''}}" maxlength="256" autocomplete="off">
        </div>
      </div>
      <div class="row styles">
        <div class="col-sm-3 form-group">
          <label for="background">Background</label>
          <input id="background" type="color" class="form-control" value="{{background or 'ffffff'}}">
        </div>
        <div class="col-sm-3 form-group">
          <label for="color">Color</label>
          <input id="color" type="color" class="form-control" value="{{color or '000000'}}">
        </div>
        <div class="col-sm-6 form-group">
          <label for="font">
            Google Font
            <a href="http://www.google.com/fonts" target="_blacnk"><span class="fa fa-external-link-square"></span></a>
          </label>
          <select id="font" class="form-control" data-selected="{{font or 'Overlock'}}">
            <option value="">Loading..</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div id="url" class="well link-preview">{{request.host_url}}</div>
</section>
