<div class="help">
  # set welcome_hide = 'hide' if request.path == '/' or request.args.get('edit') != None else ''
  <ul class="list-inline">
    <li class="{{welcome_hide}}">
      <a href="{{request.url}}{{'?' if request.url.find('?') == -1 else '&'}}edit">
        <span class="fa fa-home"></span>
      </a>
    </li>
    <li class="{{welcome_hide}}">
      <a href="{{request.url}}{{'?' if request.url.find('?') == -1 else '&'}}edit">
        <span class="fa fa-pencil"></span>
      </a>
    </li>
    <li><a href="https://github.com/lipis/hurry-app"><span class="fa fa-github"></span></a></li>
    <li>
      <a href="{{request.url}}{{'?' if request.url.find('?') == -1 else '&'}}embed" class="popout">
        <span class="fa fa-external-link-square"></span>
      </a>
    </li>
  </ul>
</div>
