<div class="help">
  # set welcome_hide = 'hide' if request.path == '/' or request.args.get('edit') != None else ''
  <ul class="list-inline">
    <li class="{{welcome_hide}}">
      <a href="{{request.url}}{{'?' if request.url.find('?') == -1 else '&'}}edit">
        <span class='icon-home'></span>
      </a>
    </li>
    <li class="{{welcome_hide}}">
      <a href="{{request.url}}{{'?' if request.url.find('?') == -1 else '&'}}edit">
        <span class='icon-pencil'></span>
      </a>
    </li>
    <li><a href="https://github.com/lipis/hurry-app"><span class='icon-github'></span></a></li>
    <li>
      <a href="{{request.url}}{{'?' if request.url.find('?') == -1 else '&'}}embed" class="popout">
        <span class='icon-external-link-sign'></span>
      </a>
    </li>
  </ul>
</div>
